:local .outerContainer {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

:local .innerContainer {
    position: relative;
}

:local .label{
    width: 220px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

:local .button{
    margin: 5px;
}

:local .input{
    width: 50%;
    align-content: center;
}