:local .imageDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

:local .image {
    max-width: 800px;
    object-fit: cover;
}

:local .contentDiv {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 20px;
}