:local .outerContainer {
    background: #eebb00;
}

:local .headerText {
    font-family: 'Yanone Kaffeesatz', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

:local .h1 {
    composes: headerText;
    font-size: 100px;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: black 4px 4px;

    color: #fcfcfc;
    -webkit-text-fill-color: #fcfcfc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}