:local .outerContainer {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
}

:local .searchBar {
    margin-top: 30px;
    border-radius: 50px;
    border: 3px black solid;
}

:local .searchInput {
    border-radius: 50px 0 0 50px;
    border: none;
    background: white;
}

:local .searchButton {
    border-radius: 0 50px 50px 0;
    border: none;
    background: white;
    color: #E04D05;
    font-size: 20px;
}

:local .img {
    width: 30%;
    height: 30%;
    margin-top: 35px;
    float: left;
}

:local .button {
    margin-top: 110px;
    margin-left: 30px;
    border: 1px solid #ced4da;
    font-family: 'Nunito', sans-serif;
    background-color: #f0f3f5;
    color: black;
    border: #000000 solid 1px;
}

:local .bubble
{
    position: relative;
    margin-top: 120px;
    margin-left: 80px;
    padding: 10px;
    width: 200px;
    height: 70px;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 1px;
}

:local .bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 26px 21px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -26px;
    left: 50px;
}

:local .bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 26px 21px 0;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -27px;
    left: 50px;
}


:local .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

:local .topnav .search-container button:hover {
    background: #ccc;
}

@media (max-width: 576px) {
    :local .h1 {
        font-size: 300%;
    }    
}