:local .outerContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid #E9E9E9;
}

:local .vendorLogo {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:local .storeOpen {
    height: 100%;
    width: 70px;
    border-radius: 100%;
    background-color: green;
}

:local .storeClosed {
    height: 100%;
    width: 70px;
    border-radius: 100%;
    background-color: maroon;
}

:local .vendorInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 4px;
}