:local .outercontainer{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    /* padding: 20px; */
}

:local .label{
    width: 220px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

:local .button{
    margin: 5px;
}

:local .input{
    width: 50%;
    align-content: center;
}