:local .outercontainer{
    width: 100%;
    margin-left:15%;
    margin-top: 5%;
    position: relative;
    clear: both;
    /* padding: 20px; */
}

:local .column{
    width:45%;
    float:left;
}

:local .label{
    width: 220px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

:local .button{
    margin: 5px;
}

:local .input{
    width: 50%;
    align-content: center;
}




